body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 20px;
}

.column {
  float: left;
  width: 28%;
  margin: 10px 1%;
  background-color: #cecece;
  padding: 20px;
  height: 550px;
}

img {
  width: 100%;
  height: auto;
}

.column h2 {
  text-align: center;
}

#header {
  text-align: center;
  background-color: #cecece;
  padding: 20px;
  margin: 10px;
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  .column {
    height: auto;
    width: 100%;
    margin: 10px;
  }
}

@media screen and (max-width: 700px) and (min-width: 300px) {
  .column {
    height: auto;
    width: 100%;
    margin: 10px;
  }
  #header {
    width: 100%;
  }
}